<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hermes - power for your business</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/assets/css/bootswatch.min.css">
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/bower_components/bootstrap/assets/js/html5shiv.js"></script>
    <script src="/bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<script src="/assets/js/bsa.js"></script>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand">Blue Travel</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="smlouvy.html" id="smlouvy">Smlouvy</a>

                </li>
                <li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="klienti.html" id="klienti">Klienti</span></a>

                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="objednavky.html" id="objednavky">Pobočky</a>

                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('hermes_report_homepage') }}" id="themes">Reporty<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a tabindex="-1" href="{{ path('hermes_report_branches_amount_of_sales') }}">Podřízené pobočky podle počtu prodaných zájezdů</a></li>
                        <li><a tabindex="-1" href="reporty-cena-prodanych.html">Podřízené pobočky podle ceny prodaných zájezdů</a></li>
                        <li><a tabindex="-1" href="reporty-cenove-kategorie.html">Podřízené pobočky podle počtu prodaných zájezdů v cenových kategoriích</a></li>
                        <li><a tabindex="-1" href="reporty-narust-pokles.html">Seznam poboček s největším nárustem/poklesem prodeje</a></li>
                        <li><a tabindex="-1" href="reporty-zajezdy-zeme.html">Přehled zemí zájezdů dle zemí</a></li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li>

                </li>
            </ul>

        </div>
    </div>
</div>

<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-1">
                <img src="/assets/images/logo.png">
            </div>
            <div class="col-lg-4">
                <h1>Hermes</h1>
                <p>power for your business</p>
            </div>
        </div>
    </div>

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>


<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/bootswatch.js"></script>
</body>
</html>