{%  extends "base.html.twig" %}
{% block body %}

<ul>
    <li><a tabindex="-1" href="{{ path('hermes_report_branches_amount_of_sales') }}">Podřízené pobočky podle počtu prodaných zájezdů</a></li>
    <li><a tabindex="-1" href="{{ path('hermes_report_branches_price_ranges') }}">Podřízené pobočky podle počtu prodaných zájezdů v cenových kategoriích</a></li>
    <li><a tabindex="-1" href="{{ path('hermes_report_countries_most_popular') }}">Přehled zemí zájezdů dle zemí</a></li>
</ul>

{% endblock %}