
<!DOCTYPE html>
<html lang="cs">
  <head>
    <title>Hermes - power for your business</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="windows-1250">
    <link rel="stylesheet" href="./bootstrap.css" media="screen">
    <link rel="stylesheet" href="./assets/css/bootswatch.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/bootstrap/assets/js/html5shiv.js"></script>
      <script src="../bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
   
  </head>
  <body>
    <script src="./assets/js/bsa.js"></script>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html" class="navbar-brand">Blue Travel</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="smlouvy.html" id="smlouvy">Smlouvy</a>
               
            </li>
            <li>
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="klienti.html" id="klienti">Klienti</span></a>
              
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="objednavky.html" id="objednavky">Pobočky</a>
             
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="reporty.html" id="themes">Reporty <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a tabindex="-1" href="reporty-pocet-prodanych.html">Podřízené pobočky podle počtu prodaných zájezdů</a></li>
                <li><a tabindex="-1" href="reporty-cena-prodanych.html">Podřízené pobočky podle ceny prodaných zájezdů</a></li>
                <li><a tabindex="-1" href="reporty-cenove-kategorie.html">Podřízené pobočky podle počtu prodaných zájezdů v cenových kategoriích</a></li>
                <li><a tabindex="-1" href="reporty-narust-pokles.html">Seznam poboček s největším nárustem/poklesem prodeje</a></li>
              </ul>
            </li>
          </ul>
                            <form class="navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8" placeholder="Search">
                  </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Přihlásit</a></li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h1>Hermes</h1>
            <p class="lead">power for your business</p>
          </div>          
        </div>
      </div>

<!-- Main -->
          <div class="col-lg-12">
            <div class="alert alert-dismissable alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Aktualizace!</strong> Na stránkách <a href="#" class="alert-link">dodavatele</a>, naleznete novou verzi systému ke stažení.
            </div>
          </div>
 


      <footer>
        <div class="row">
          <div class="col-lg-12">
            
            <ul class="list-unstyled">
              <li class="divider"></li>
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="index.html">Domů</a></li>
              </ul>
            <p>Made by ISA PT34 Team</p>
                        <p>Jakub Kohout, Patrik Vlnas, Oldřich Kovář, Jan Hadač, Liliya Schmidt</p>
            <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>
            <p>Based on <a href="http://getbootstrap.com">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts">Google</a>.</p>

          </div>
        </div>
        
      </footer>
    

    </div>


    <script src="./bower_components/jquery/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./assets/js/bootswatch.js"></script>
  </body>
</html>