{%  extends "base.html.twig" %}
{% block body %}

<!-- Main -->
<div class="row">
    <div class="col-lg-6">
        <div class="alert alert-dismissable alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Aktualizace!</strong> Na stránkách <a href="#" class="alert-link">dodavatele</a>, naleznete novou verzi systému ke stažení.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <p>
            <a href="#"><button type="button" class="btn btn-primary btn-lg btn-home">Smlouvy</button></a>
        </p>
    </div>
    <div class="col-lg-3">
        <p>
            <a href="#"><button type="button" class="btn btn-primary btn-lg btn-home">Klienti</button></a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <p>
            <a href="#"><button type="button" class="btn btn-primary btn-lg btn-home">Pobočky</button></a>
        </p>
    </div>
    <div class="col-lg-3">
        <p>
            <a href="#"><button type="button" class="btn btn-primary btn-lg btn-home">Zájezdy</button></a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <p>
            <a href="{{ path('hermes_report_homepage') }}"><button type="button" class="btn btn-primary btn-lg btn-home">Reporty</button></a>
        </p>
    </div>
</div>



{% endblock %}